// Tiles and buttons colors
$main-red: #f75940;
$main-red-dark: #d44832;
$main-purple: #7045af;
$main-purple-dark: #5d16af;
$light-grey: #e9ecef;
$light-grey2: #f3f4f5;
$orange: #ffc107;
$dark: #495057;
$white: #ffffff;

// Activities colors
$green: #7ab800;
$cyan: #4d53df;
$turquoise: #1ac3cc
