@import './../../colors';

.mapPlace {
  width: 40vh;
  height: 46.7vh;
  overflow: auto;
}

.mapPlacePhoto {
  width: 100%;
}

.mapPlaceAddress {
  font-family: "Noto Sans";
  font-size: 0.9rem;
  font-weight: bold;
  text-align: start;
  color: #495057;
  margin-top: 10px;
}
